{{ define "main" }}
<h2 class="text-2xl font-serif">Hello sexy layout</h2>

<p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quia architecto est pariatur voluptatem vero ipsa doloremque suscipit. Nobis iste quia reiciendis perferendis atque. Reprehenderit fugit ea illo libero non. Fugiat!</p>
<p>
  Id ornare arcu odio ut sem nulla pharetra diam sit! Et, egestas quis ipsum suspendisse ultrices gravida dictum fusce ut placerat orci nulla pellentesque dignissim enim, sit amet venenatis urna.
  Nunc aliquet bibendum enim, facilisis gravida neque! Gravida neque convallis a cras semper auctor neque, vitae tempus quam pellentesque nec nam aliquam sem et tortor consequat id porta nibh venenatis.
  Id ornare arcu odio ut sem nulla pharetra diam sit amet nisl suscipit adipiscing bibendum. Non arcu risus, quis varius quam quisque id diam vel quam elementum pulvinar etiam non.
</p>
{{ end }}
