<nav class="bg-red-200">
  <div class="max-w-full mx-auto border border-purple-600">
    <div class="flex justify-between">
      <!---logo--->
      <div>
        <a href="#">
       <!--
           Use this section to add a logo.
           If you want, copy this to your `layouts/partials/navbar` directory, and choose a Heroicon (https://heroicons.com) and add the SVG here.
           you could also add your own logo.
         -->
          
        </a>
      </div>
      <!---Links--->
      <!--Secondary Nav-->
      </div>
      </div>
</nav>
